body{
    padding: 0;
}


.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f11111;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.chat-button:hover {
    background-color: #d2bc19;
}


.paint-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #f11111;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.paint-button:hover {
    background-color: #d2bc19;
}
.header {
    background-color: #f8f9fa; 
    padding: 5px;
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 0;
}




.header-container {
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.navbar-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.navbar-nav {
    display: flex;
    list-style-type: none;
    padding: 0;
    font-weight: lighter;
}

.nav-item {
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: black; 
}

.nav-link:hover {
    color: #dc1d1d; 
}

.icon-header {
    display: flex;
    align-items: center;
    padding-right: 25px;
}

.icon-header i {
    margin-left: 20px;
}

.bg-img{
    position: relative;
    background-image: url("assets/bg3.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 70vh;
   
}

.topic-1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 80%;
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sec-h1{
  text-align: center;
  font-size: 3rem;
}

.sec-label{
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    margin-top: -30px;
    font-family: sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 45px;
    

}

.grid-item {
    /* background-color: #f0f0f0;  */
    /* padding: 20px;  */
    text-align: center; 
    border: 2px solid rgb(228, 228, 228);
}

.intel-img {
    margin-top: -10px;
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin: 1;
}

.label-col{
    text-align: center;
    font-size: small;
    font-weight: bolder;
    margin: 1;
}

.btn-customize {
    width: 100%; 
    border: 2px solid #dc1d1d;
    color: #dc1d1d; 
    background-color: transparent; 
    padding: 10px; 
    text-align: center; 
    font-size: 16px; 
    cursor: pointer;
    
}

.btn-customize:hover {
    background-color: #dc1d1d; 
    color: white; 
}


.grid-container-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    /* gap: 20px; */
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 45px;
    

}

.grid-item-2 {
    /* background-color: #f0f0f0;  */
    padding: 10px; 
    text-align: center;
}
.grid-item-3 {
    padding: 5px;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    
}
.person-file{
    background-image: url("assets/file.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height:300px;
    width: 80%;
    align-items: center;
    margin-left: 5vh;
}

.icon-text-container {
    display: flex;
    align-items: center;
}

.icon-text-container i {
    margin-right: 10px; 
    font-size: 20px; 
    color: #dc1d1d;
    /* font-weight: lighter; */
}

.text {
    /* font-weight: bolder; */
    text-align: start;
    font-size: 20px; 
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.p-col{
    text-align: start;
     font-weight:normal;
      font-size: 17px;
      color: rgb(26, 25, 25);
      font-family:Georgia, 'Times New Roman', Times, serif;
}

.grid-item-4 {
    padding: 5px;
    text-align: start;
    display: flex; 
    justify-content: start; 
    align-items: start; 
    
}
.factory{
    background-image: url("assets/factory.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height:300px;
    width: 80%;
    align-items: center;
    margin-left: 5vh;
}
.logos-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f0f0f0;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
}
.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
/* .logo {
    height: 50px;
    width: auto;
    margin-right: 10px;
} */
.text {
    font-size: 18px;
    font-weight: bold;
}
.symantec { color: #FFCC00; font-family: Arial, sans-serif; }
.coinbase { color: #0052FF; font-family: 'Courier New', Courier, monospace; }
.iheartmedia { color: #CC0000; font-family: 'Georgia', serif; }
.nfl { color: #003087; font-family: 'Tahoma', sans-serif; }
.vmware { color: #607078; font-family: 'Verdana', sans-serif; }
.browserstack { color: #FF9100; font-family: 'Lucida Console', Monaco, monospace; }
.tencent { color: #1D9BF0; font-family: 'Trebuchet MS', sans-serif; }

.bg-img-map{
    position: relative;
    background-image: url("assets/map2.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height:590px;
    width: 100%;
    align-items: center;
    margin-top: 150px;
    /* margin-left: 5vh; */
}

.overlay-div {
    position: absolute;
    top: 80px;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 70%;
    height: 60%;
    background-color: rgb(245, 241, 241); 
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-div {
    position: absolute;
    top: 280px; 
    left: 50%; 
    transform: translateX(-50%);
    display: flex;
    /* background-color: rgb(245, 241, 241);  */

}

.logo {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    margin: 0 50px; 
}

.logo i {
   
    font-size: 24px; 
    margin-right: 5px;
}

.textt {
   
    font-size: 18px;
    font-weight: bold;
}

.regionButtons {
    position: absolute;
    /* top: 280px;  */
    left: 50%; 
    transform: translateX(-50%);
    display: flex;
    
}

.regionButtons button{
    margin-right: 5px;
    height: 40px;
    width: 100px;
    background-color: rgb(245, 241, 241); 
    border-top: 1px solid #ccc; 
    border-right: 1px solid #ccc; 
    border-left: 1px solid #ccc;
    border-bottom: none; 

}

.regionButtons button :hover{
    background-color: rgb(32, 31, 31); 
    border: 1px solid #ccc;
}

.country-flag {
    background-image: url("assets/flagSL.jpg");
    width: 50px;
    height: 50px;
    font-size: 24px;
    margin: 0 50px;     
}


.text-label{
    position: absolute;
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    margin-top: -30px;
    font-family: sans-serif;
    /* z-index: 7; */
}

.logoss-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: #f0f0f0; */
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.sec-6{
    background-color: #d7d4d4;
    padding: 20px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 30px; 
    padding: 20px;
    padding-left: 200px;
    padding-right: 200px;
}

.grid-item1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item1 img {
    max-width: 100%;
    height: auto;
    /* border: 2px solid gray;  */
    padding: 5px;
}

.text0{
    font-family: monospace;
    font-size: 40px;
    text-align: start;
}

.icon-text-container0 {
    display: flex;
    align-items: center;
}

.icon-text-container0 i {
    margin-right: 10px; 
    font-size: 30px; 
    /* font-weight: lighter; */
}

.image-grid0 {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 10px; 
    padding: 20px;
   
}

.grid-item2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item2 img {
    max-width: 100%;
    height: auto;
    /* border: 2px solid gray;  */
    padding: 5px;
}


.contact-section {
    background-color: #000000;
    padding: 40px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.contact-column {
    flex: 1;
    min-width: 220px;
    margin: 10px;
    color: #d7d4d4;
}

.contact-column h2 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.contact-column ul {
    list-style: none;
    padding: 0;
}

.contact-column ul li {
    margin-bottom: 5px;
    font-size: 14px;
}

.special-column {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.special-content {
    text-align: center;
}

.special-content h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.get-started-btn {
    background-color: #dc1d1d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.get-started-btn:hover {
    background-color: #b71818;
}

/* @media (max-width: 768px) {
    .contact-column {
        flex: 1 1 100%;
        margin: 10px 0;
    }
} */

.footer{
    color: #d7d4d4;
    font-size: small;
    text-align: center;
}